*{
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-toggle{
  background-color: black;
}

.top-banner-text{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  font-size: small !important;
}

.top-banner-title{
  font-family: 'Montserrat', sans-serif !important;
  font-weight: bolder !important;
}

.custom-nav{
  height: 100px;
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.subheader{
  background-image: linear-gradient(to right,#2d0039,#15003c);
  color: white;
  height: 350px;
  padding-top: 126px;
  margin-bottom: 8vh;
}

.forms{
  /* padding-bottom: 10vh; */
  padding-left: 10% !important;
  padding-right: 10% !important;
  font-size: small !important;
}

.heading-text{
  color: #ff2161;
  padding-bottom: 3vh;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder; 
}

.form-desc{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.submit{
  margin-top: 2rem;
  width: 250px;
  border-radius: 0;
}

.tnc{
  font-size: small;
}

.banner{
  background-image: url(../src/assets/bg_1.jpeg);
  color: white;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 10vh;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:#ff2161 !important;
    border-color: #ff2161 !important;
    border-radius: 0% !important;
    width: 200px;
    height: 50px;
    font-size: medium !important;
}

.banner-text{
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer{
  padding-top: 20px;
  padding-bottom: 20px;
}
.form-group{
  padding-top: 1%;
  padding-bottom: 1%;
}
.form-control:valid {
  background-color:  #f0f1f1!important;
  border-radius: 0 !important;
}

.form-control::placeholder,.form-control::option { 
  color: red !important;
  opacity: 1; 
  border-radius: 0 !important;
}

.form-text{
  font-weight: bold;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,33,97, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

